body {
    margin: 0;
}

.questionnaire {
    margin: auto;
    max-width: 1200px;
    min-width: 700px;
    background-color: #E5E5E5;
    padding: 0 4%;
}

.head__tytle {
    padding-top: 1em;
    padding-bottom: 2em;
}

.note {
    font-size: 0.8em;
}

.red {
    color: rgba(216, 57, 51, 1);
}

.line {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.line>div {
    width: 48%;
    position: relative;
}

.line input {
    width: 100%;
    height: 2.7em;
    border: 1px solid rgba(173, 173, 173, 1);
    border-radius: 4px;
    margin: 0.5em auto;
}

label:nth-child(4) {
    position: absolute;
    right: 4px;
    bottom: 12px;
    width: 27px;
    height: 27px;
    background-color: white;
}

input::-webkit-input-placeholder {
    padding: 1px 10px;
}

.black input::-webkit-input-placeholder {
    color: black;

}

.blue input::-webkit-input-placeholder {
    color: rgba(0, 80, 216, 1);
}

.center input::-webkit-input-placeholder {
    text-align: center;
}

.grey input {
    background-color: rgba(239, 239, 239, 1);
}

input[type="checkbox"] {
    width: 24px;
    height: 24px;
    accent-color: rgba(255, 0, 255, 1);
    margin: 6px;
}

input[type="submit"] {
    width: 70px;
    height: 40px;
    background-color: rgba(0, 80, 216, 1);
    border-color: transparent;
    border-radius: 4px;
    font-size: 1.2em;
    color: white;
}

.check {
    display: flex;
    align-items: center;

}
.next{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 80px;
}

.line__width {
    background-color: rgba(209, 209, 209, 1);
    width: 100%;
    height: 1px;
    margin: 26px 0;
}