body {
    margin: 0 auto;
    width: 90vw;
    background-color: black;
}
section {
    background-color: white;
}
.comment {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment > div {
    background-color: rgb(210, 206, 202);
    padding: 10px;
    max-width: 80vw;
    margin: 10px;
}
.comment h3,h5 {
    margin: 0;
}
.name {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: capitalize;
}
.hed {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email {
    color: darkblue;
}
.text {
    padding: 7px 0;
}
.pagination {
    display: flex;
    max-width: 83vw;
    margin: 0 auto;
    padding-bottom: 4vh;
    padding-top: 3vh;
    flex-wrap: wrap;
    justify-content: center;
}
.pagination > span {
    border: solid 2px black;
    margin: 2px;
    padding: 4px;
    cursor: pointer;
}

.active_el {
    box-shadow: 0 0 9px blue;
}

/*loader*/
.box-loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .active{
    display: flex;
  }
  
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }
  

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }