html {
    font-size: 20px;
    --bg-body: #E5E5E5;
    --black: rgba(0, 0, 0, 1);
    --bg-section: rgba(255, 255, 255, 1);
    --bg-logo: rgba(255, 251, 251, 1);
    --header-leter: rgba(255, 252, 252, 1);
}

body {
    font-family: 'Rosario', sans-serif;
    font-weight: 700;
    margin: 0;
    background-color: var(--bg-body);
    font-style: italic;
}

body>div {
    min-height: 100vh;
    max-width: 1920px;
    min-width: 1440px;
    margin: 0 auto;
    background-color: var(--bg-section);
    padding: 50px 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    max-width: 1920px;
    margin: 0 auto;
}

.header-bg {
    background-color: var(--black);

}

.header,
.nav,
.gal__main,
.gal__foto-2,
.gal__foto-3 {
    display: flex;
}

.header {
    height: 129px;
    width: 100%;
    justify-content: space-between;

}

.logo {
    background-color: var(--bg-logo);
}

.nav__item-link {
    text-decoration: none;
    color: var(--header-leter);
    font-size: 1.8rem;
    padding: 20px 20px;
    display: block;
}

.gal__main {
    align-items: center;
    justify-content: space-between;
    margin: 0 0;
    overflow: hidden;
    
    
}

.gal__main img {
    margin: 20px auto;
}

.gal__foto-1,
.gal__foto-4 {
    margin: 0 50px;
    animation: animation-gal 1s linear 1 forwards;
    animation-delay: 1s;
}

.gal__foto-2,
.gal__foto-3 {
    flex-direction: column;
    animation: animation-gal 1s linear 1 forwards;
}

.gal__foto-1,
.gal__foto-2 {
    position: relative;
    left: -1000px;
}

.gal__foto-3,
.gal__foto-4 {
    position: relative;
    left: 1000px;
}

@keyframes animation-gal {
    100% {
        left: 0;
    }
}

.services {
    background-image: url(../img/Services/pexels-cottonbro-3998389\ 1.png);
    background-repeat: no-repeat;
    background-position: top right;

}

.serv__foto {
    width: 980px;
    height: 946px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    position: relative;
}

.serv__foto>div {
    width: 50%;
    text-align: center;
    margin: 28px auto;
    font-size: 2.4rem;
    position: absolute;
}

.serv__foto-1 {
    animation: animation-serv__foto-1 5s linear infinite;
}

.serv__foto-2 {
    left: 50%;
    animation: animation-serv__foto-2 5s linear infinite;
}

.serv__foto-3 {
    top: 50%;
    left: 50%;
    animation: animation-serv__foto-3 5s linear infinite;
}

.serv__foto-4 {
    top: 50%;
    animation: animation-serv__foto-4 5s linear infinite;
}

@keyframes animation-serv__foto-1 {
    0% {
        top: 0;
        left: 0;
    }

    25% {
        top: 0;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@keyframes animation-serv__foto-2 {
    0% {
        top: 0;
        left: 50%;
    }

    25% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 0;
    }

    75% {
        top: 0;
        left: 0;
    }
}

@keyframes animation-serv__foto-3 {

    25% {
        top: 50%;
        left: 0;
    }

    50% {
        top: 0;
        left: 0;
    }

    75% {
        top: 0;
        left: 50%;
    }
}

@keyframes animation-serv__foto-4 {
    25% {
        top: 0;
        left: 0;
    }

    50% {
        top: 0;
        left: 50%;
    }

    75% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 50%;
        left: 0;
    }
}

.team__main-title {
    font-size: 4.8rem;
    text-align: center;
    font-style: initial;
}

.team__main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30px;
}

.team__main>div {
    width: 404px;
    height: 677px;
    border: 1px solid transparent;
    border-radius: 40px;
    overflow: hidden;
    background-size: 100%;
}

.team__foto-1 {
    background-image: url(../img/team/Rectangle\ 8.png);
    background-repeat: no-repeat;
    opacity: 90%;
}

.team__foto-2 {
    background-image: url(../img/team/Rectangle\ 12.png);
    background-repeat: no-repeat;
}

.team__foto-3 {
    background-image: url(../img/team/Rectangle\ 13.png);
    background-repeat: no-repeat;
}

.team__foto-4 {
    background-image: url(../img/team/Rectangle\ 9.png);
    background-repeat: no-repeat;
}

.team__name {
    color: transparent;
}

.team__main:hover .team__name {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.495);
    position: inherit;
    color: transparent;
    display: flex;
}

.team__main>div:hover .team__name {
    width: 100%;
    height: 140px;
    background-color: rgba(163, 83, 10, 0.7);
    position: relative;
    top: 540px;
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 2.4rem;
    color: rgba(255, 250, 250, 1);
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    width: 83%;
    margin: 5vh auto;
    justify-content: space-between;
}

.form {
    width: 60%;
}

h1 {
    font-size: 3.2rem;
    width: 80%;
    text-align: center;
    margin-top: 0;
}

form {

    background-color: rgba(229, 229, 229, 1);
}

input,
textarea {
    font-size: 1.8rem;
    font-family: 'Rosario', sans-serif;
    padding: 1vh 2%;
    border-color: transparent;
    margin: 2vh 4%;
}

input[type="text"] {
    width: 33%;
}

input[type="email"] {
    width: 41%;
}

textarea {
    width: 87%;
}

.map {
    width: 38%;
}

iframe {
    height: 48vh;
    padding-top: 2vh;
}

textarea {
    resize: none;
}

.footer {
    display: flex;
    width: 85%;
    margin: 4vh auto;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5vh;
    justify-content: space-around;
}

.footer>div {
    text-align: center;

}

.footer a {
    text-decoration: none;
    color: black;
}

.text-1 {
    font-style: initial;
    font-weight: 700;
}

.text-2 {
    font-size: 1.8rem;
    font-weight: 700;
    font-style: initial;
    margin: 0 0;
}

.text-3 {
    font-weight: 700;
    font-style: initial;
}

.conect ul {
    list-style: none;
    text-align: left;
}

.conect img {
    padding-right: 10px;
}