.bloc {
    margin: auto;
    max-width: 1200px;
    min-width: 700px;
    background-color: #001124;
    display: flex;
}

.bloc>div {
    width: 50%;
}

.image {
    margin: 8% 0;
    display: flex;
    justify-content: center;
}

.image>img {
    width: 55%;
}

.bloc__reg {
    display: flex;
    align-items: center;
}

.reg {
    width: 50%;
    margin-left: 10%;
    padding: 5% 0;
}

.reg__tytle {
    color: white;
    font-size: 2.3em;
    padding-bottom: 1em;
    text-align: center;
}

label {
    color: white;
}

input {
    width: 100%;
    height: 2em;
}

input[type="submit"] {
    width: 50%;
    height: 2.5em;
    background-color: #015FC7;
    color: white;
}

.center p {
    text-align: center;
    padding-top: 1em;
}