section {
   width: 92%;
   display: flex;
   justify-content: space-around;
   border: 1px solid black;
   margin: 0 auto;
   padding: 2vh;
}
.container2 > div {
    border: 1px solid black;
    background-color: aqua;
}
.container3 > div{
    border: 1px solid black;
}
img {
    height: 10vh;
}
.container5 {
    display: block;
}
p {
    border: 1px solid black;
}