body{
    background-color: #F0FFF0;
    margin: 0;
}
.bloc{
    max-width: 404px;
    min-width: 250px;
    height: 490px;
    background-color: black;
    border: 1px solid transparent;
    margin: 0 auto;
}
.img{
    margin: 5px auto;
    text-align: center;
}
.tytle{
    color: white;
    font-size: 29px;
    text-align: center;
    letter-spacing: 16px;
    margin: 14px auto 39px;
}
.link{
    display: block;
    width: 80%;
    border: 5px solid white;
    margin: 24px auto;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 15px 0;
}
