@font-face {
  font-family: "AeonikTRIAL-Bold";
  src: local("AeonikTRIAL-Bold"), url("/font/AeonikTRIAL-Bold.otf");
}
body {
  background-color: rgb(51, 51, 51);
  font-family: "AeonikTRIAL-Bold", sans-serif;
}