@font-face {
    font-family: 'AeonikTRIAL-Bold';
    src: local('AeonikTRIAL-Bold'),
    url("/font/AeonikTRIAL-Bold.otf");
}
body{
    background-color: rgba(51, 51, 51, 1);
    font-family: "AeonikTRIAL-Bold", sans-serif;
    color: $white;
}