body{
    margin: auto;
    max-width: 1440px;
}
:root {
    --color-blue: #0072DB;
}
.header_tytle{
    font-size: 3em;
    text-align: center;
    letter-spacing: 7px;
    margin: 10px;
    padding-top: 10px;
}
.header_tytle_blu{
    color: #3E45E8;
}
.header_tytle_yellow{
    color: #E8C23E;
}
.header {
    height: 765px;
    border: 1px solid transparent;
    background-image: url(../img/img\ прапор.png), linear-gradient( to right, #000000a2, #00000000 ), url(../img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
    background-repeat: no-repeat;
    background-position: 78px 239px, 0 0, 0 0;
    
    margin: auto;
}
.header_description{
    margin: 230px -172px;
    line-height: 1.5;
    word-spacing: -12px;
    letter-spacing: 3px;
    font-size: 4em;
    color: white;
}
.cards_tytle{
    font-size: 1.2em;
    margin-bottom: -26px;
    margin-left: 72px;
    margin-top: 55px;
}
.gradienthorizon {
    width: 50%;
    height: 10px;
    background: linear-gradient(to right, #00E0FF, #1400FF 50%, #FFA800 50%, #ffaa0000);
    margin: 40px 0
    
}

.cards {
    min-width: 992px;
    max-width: 1280px;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 35px;
}

.card_margin {
    margin: 0 2%;
}

.card_shadow1 {
    box-shadow: -16px 21px 40px #00D1FF59;
}

.card_shadow2 {
    box-shadow: 0px 21px 35px #00D1FF59;
}

.card_shadow3 {
    box-shadow: 16px 21px 40px #00D1FF59;
}

.card_img>img {
    width: 100%;
}

.card_tytle {
    color: var(--color-blue);
    margin: 20px 10px;
    font-size: 1.7em;
    font-weight: bold;
}

.card_description {
    color: #FF9900;
    margin: 10px;
    font-size: 1.4em;

}
.map_tytle{
    width: 592px;
    font-size: 1.2em;
    text-align: center;
    border-color: #1400FF;
    border-bottom-width: 7px;
    border-bottom-style: inset;
    margin: 50px auto 32px;
}
.map{
    text-align: center;
}
a{
    text-decoration: none;
}
.map_button{
    max-width: 500px;
    height: 81px;
    background-color: #2A61F0;
    font-size: 4em;
    text-align: center;
    border-radius: 40px;
    margin: 10px auto 30px;
}
.map_batton_click{
    display: block;
    color: white;
}
.footer{
    width: 100%;
    background-color: #0D0661;
    text-align: center;
    padding: 19px 0;
}
.footer_tytle{
    font-size: 3em;
    letter-spacing: 7px;
}
a{
    color: #A89D9D; 
}
.footer_click{
    font-size: 2em;
    letter-spacing: 7px;
    margin: 5px; 
}
.small_letter{
    font-size: 0.7em;
}
